body {
    margin: 0;
    font-family: "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    background-color: #001c00;
    color: #e6e6e6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e2d1c;
    color: #f0f0f0;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
}



.top-section {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image1.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    opacity: 0.6;
    z-index: -1;
}
.background-image img{
    width: 100vw;
}

.welcome-message {
    position: relative;
    z-index: 1;

    font-size: 24px;
    color: white;
}
.works-text {
    display: block;
    text-align: center  ;
    z-index: 1;

    font-size: 48px;
    color: white;
}


.works-section {
    padding: 60px 20px;
}

.photo1{
    background-color: #ccc;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
    position: relative;
}
.photo2{
    background-color: #ccc;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
    position: relative;
}
.photo3{
    background-color: #ccc;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
    position: relative;
}
.photo4{
    background-color: #ccc;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
    position: relative;
}
.photo5{
    background-color: #ccc;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
    position: relative;
}
.photo1 img{
    width: 70vw;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.photo2 img{
    width: 70vw;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.photo3 img{
    width: 70vw;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.photo4 img{
    width: 70vw;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.photo5 img{
    width: 70vw;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.photo1::after {
    content: "ILCE-7CM2\ASONY FE 50mm f2.5 G\ASS 1/1,600s\AISO 100\A f2.5";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color:#f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    white-space: pre-line; 
}
.photo2::after {
    content: "ILCE-7CM2\ATamron 35-150mm f2-2.8 A058\ASS 1/1,000s\AISO 100\A f2.8 \A 150mm+APS-C ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    white-space: pre-line; 
}
.photo3::after {
    content: "ILCE-7CM2\ATamron 35-150mm f2-2.8 A058\ASS 1/500s\AISO 6400\A f2.2 \A 36mm ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    white-space: pre-line; 
}
.photo4::after {
    content: "ILCE-7CM2\ATamron 35-150mm f2-2.8 A058\ASS 1/8000s\AISO 5000\A f2.8 \A 150mm+APS-C ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    white-space: pre-line; 
}
.photo5::after {
    content: "ILCE-7CM2\ASONY FE 50mm 2.5 G\ASS 1/80s\AISO 16000\A f2.5";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    white-space: pre-line; 
}
.photo1:hover::after {
    opacity: 1; 
}
.photo2:hover::after {
    opacity: 1; 
}
.photo3:hover::after {
    opacity: 1; 
}
.photo4:hover::after {
    opacity: 1; 
}
.photo5:hover::after {
    opacity: 1; 
}
.profile-section {
    display: flex;
    padding: 60px 20px;
}

.profile-text {
    display: block;
    text-align: center  ;
    z-index: 1;

    font-size: 48px;
    color: white;
    margin-top: 10vh;
} 
*, *::before, *::after {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  } 
  :root{
    font-size: 14pt; 
    --text-color: #f0f0f0;
  }
  body   {
    display: grid; 
    place-items: center; 
  
    min-height: 100vh; 
  
    color: var(--text-color); 
  }
  main {
    display: grid; 
    /* Grid表示のコンテンツ配置テンプレートを作成する */
    grid-template: "photo   name   " auto
                   "photo   texts  " auto
                   "photo   social " auto
                   / 300px minmax(300px, 450px);
    gap: 0 2rem; 
  
    padding: 2rem; 
    max-width: 90%; 
  
    
    backdrop-filter: blur(20px); 
  } 
.my-photo {
    grid-area: photo; 
    align-self: center; 
  } 
  .my-photo img {
    display: block; 
    width: 300px; 
    height: 300px; 
    border-radius: 4000px; 
  }
  
  
  .my-name {
    grid-area: name; 
    font-size: 4rem; 
    text-shadow: -1px 1px 0 #232323; 
    letter-spacing: 0.1em; 
  }

  
  .my-texts {
    grid-area: texts; 
  }
  .my-social {
    grid-area: social; 
    list-style: none; 
    display: flex; 
    margin-top: 1.5rem; 
  } 
.my-social li {
    line-height: 1; 
    margin-right: 1rem; 
    font-size: 2rem; 
  } 
  .my-social li a {
    display: inline-block; 
    text-decoration: none; 
    color: var(--text-color); 
    transition: 0.5s transform, 0.5s color;
  
    -webkit-background-clip: text;
    background-clip: text;
  } 
  .my-social li a:hover {
    color: #589e6c; 
    transform: scale(1.5); 
  } 
.background-filter {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 

  z-index: -1; 
}
@media screen and (width < 896px) {
    .top-section{
        height: 50vh;
    }
    main { 
        grid-template: "photo  " auto
                       "name   " auto
                       "texts  " auto
                       "social " auto
                       / auto;
        gap: 1rem 0; 
    
        margin: 4rem 0; 
      } 
    .my-name {
      font-size: 13.5vw; 
      text-align: center; 
    }
    .my-photo img {
        width: 70vw; 
        height: 70vw; 
      }
    }
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0e2d1c;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}